$color-black-900: #000000;
$color-white-100: #FFFFFF;
$color-gray-300: #F1F1F1;
$color-gray-400: #FAFAFA;
$color-gray-500: #C1C1C1;
$color-gray-600: #919191;
$color-gray-650: #5B5B5B;
$color-gray-700: #3B3B3B;
$color-gray-800: #1E1E1E;
