.hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.introduce-self {
    display: flex;
    flex-direction: column;
    .intro-title{
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;    
        color: #3B3B3B;
        margin-bottom: 24px;
    }
    .intro-text{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }
    .job-title {
        font-size: 16px;
        line-height: 24px;
        color: #C1C1C1;
        margin-bottom: 60px;
    }
    .icon{
        display: flex;
        gap: 16px;
        flex-wrap: nowrap;
        i{
            font-size: 56px;
        }
        a{
            color: #555555;
            padding: 8px ;
        }
    }
}

/* chatgpt教的，要再複習 */
/* 

先設定span位置，因需正常隨寬度漢文黨一起變動，
故使用position: relative。

設定img在span中的位置時，因img需固定位於文字下方，
故使用position: absolute讓其位於span左下角。

最後設定z-index，需讓img保持較高的層疊順序。


position: relative; 使元素相对于其正常位置进行定位，
但不影响文档流中其他元素的布局。
设置了 top, right, bottom, 或 left 属性时
，元素相对于其初始位置移动。

position: absolute; 使元素相对于其最近的非 static 
父元素进行定位，或者如果没有这样的父元素，
则相对于初始包含块（通常是视口）进行定位。
这种定位会脱离文档流，其他元素会忽略它的存在。
通常与 top, right, bottom, 或 left 属性一起使用。

z-index 属性的值可以是任何整数，负数也是允许的。
较大的值表示较高的层叠顺序。

*/

.underline {
    position: relative;
}

.underline img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width:100%;
    height: auto; 
    display: block;
    z-index: -1;
}

.works{
    padding: 120px 0 0 0;
    gap: 80px;
    display: flex;
    flex-direction: column;
}

.index-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    h2{
        font-size: 32px;
        font-weight: 600;
        color: #3B3B3B;
        line-height: 38.4px;
    }
}


.star{
    background-image:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.introduce{
    background-color: #FFFFFF10;
    border-radius: 24px;
    margin-left: 55px;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    padding: 80px 40px 56px 40px;
    .introduce-p{
        margin: 0 0 40px 0;
        border-bottom: 1px solid #F1F1F150;
        h3{
            font-size: 28px;
            font-weight: 700;
            line-height: 33.6px;
            margin-bottom: 8px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        
        }
        ul{
            display: flex;
            margin: 32px 0px ;
        }
        li{
            margin-right:20px ;
            background-color: #FFFFFF;
            color: #000000;
            border-radius: 16px;
            width: 88px;
            height: 32px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.introduce-link{
    display: flex;
    justify-content: center;
    a{
        background-color: #000000;
        padding: 16px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        border-radius: 5px;
    }
}


.savemoney{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    position: relative ;
    height: 800px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%; /* 控制半透明层的宽度为元素的一半 */
        height: 100%;
        background-color: #0A101350; /* 半透明的白色背景 */
    }
    .introduce{
        z-index: 3;
        position: absolute;
        left: 10%;
    }
}


.clinic{
    background-image:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* 控制半透明层的宽度为元素的一半 */
        height: 100%;
        background-color: #0D0C0750; /* 半透明的白色背景 */
    }
}



.services{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
    gap: 80px;
    .services-list{
        display: flex;
        justify-content: center;
        gap:24px;
        flex-wrap: wrap;
        width: 100%;
    }
    .services-item{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        width: 306px;
        height: 306px;
        border-radius: 16px;
        h3 {
            font-size: 28px;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 42px;
        }
    }

    .services-intro{
        display: flex;
        flex-direction: column;
        gap: 40px;
        h3{
            font-size: 28px;
            font-weight: 600;
            color: #000000;
        }
        a{
            background-color: #000000;
            border-radius: 5px;
            padding: 16px 32px;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            color: #FFFFFF;
            line-height: 30px;
        }
    }
}

.index-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 120px 0px;
    .index-articles-frame{
        display: flex;
        justify-content: center;
        gap: 24px;   
        flex-wrap: wrap;
        .index-articles-item{
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            max-width: 416px;
            img{
                border-radius: 8px;
            }
        }
    }
    
    .index-articles-text{
        display: flex;
        flex-direction: column;
        padding: 0px 8px;
        gap: 16px;
        a {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-decoration: none;
            color: #3B3B3B;
        }
    }

    .articles-mark{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a{
            font-size:16px;
            padding: 4px 12px;
            border-radius: 16px;
            background-color: #F1F1F1;
            color: #3B3B3B;
            text-decoration: none;
        }
        p{
            font-size:16px;
            color: #5B5B5B;
        }
    }
    
}

.pages{
    font-size: 12px;
    display: flex;
    gap: 16px;
    a{
        text-decoration: none;
        color: #000000;
    }
}

.fa-arrow-right{
    margin-left: 8px;
}


@media (max-width: 1400px) {
    .services-list{
        max-width: 900px;
    }
}

@media (max-width: 1200px) {
    
    .footer {
        padding: 80px 100px;
    }

    .savemoney .introduce {
        left: 0%;
    }

}

@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
    }

    .introduce-self{
        gap: 24px;
        padding: 40px 0px; 
        p{
            text-align: center;
        }
        .intro-text{
            flex-direction: column;
            gap:8px
        }
        .icon{
            justify-content: center;
        }
        i{
            font-size: 30px;
        }
    }

    .works-m{
        display: flex;
        flex-direction: column;
        padding: 40px 0 80px 0;
        gap: 40px;
        margin: 0 auto;
        .work-item{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    .m-introduce{
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        gap: 20px;
        text-align: center;
    }

    .m-introduce-p{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .m-introduce-p h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }

    .m-introduce-p p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #5B5B5B;
    }

    .m-introduce-p ul{
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    .m-introduce-p li{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #3B3B3B;
        background-color: #F1F1F1;
        padding: 4px 12px;
        border-radius: 16px;
    }

    .m-introduce-link a{
        background-color: #000000;
        padding: 8px 16px;
        border-radius: 5px;
        line-height: 24px;
        font-weight: 700;
        color: #FFFFFF; 
        text-decoration: none;  
    }

    .services {
        padding: 80px 0px;
        gap: 40px
    }

    .services-intro{
        gap: 24px;
        text-align: center;
        h3{
            font-size: 20px;
        }
        a{
            padding: 8px 16px;
            font-size: 16px;
            margin-right: 8px;
            text-decoration: none;
            color: #3B3B3B;
        }
    }


    .index-articles{
        padding: 80px 0px;
        gap: 40px;
        margin: 0 auto;
        .index-articles-item{
            width: 51%;
            flex-wrap: wrap;
        }   
    }



}