@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

.wrap img {
  max-width: 100%;
  height: auto;
}

.mobile {
  display: none;
}

@media (max-width: 992px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.header {
  border-bottom: 1px solid #F1F1F1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 0px;
  width: 100%;
  position: relative;
}
.header img {
  position: absolute;
  left: 5%;
  top: 25%;
}

.menu {
  font-size: 16px;
}
.menu .list-text {
  display: inline-block;
  text-align: center;
}
.menu .list-text a {
  text-decoration: none;
  color: #000000;
  padding: 4px 8px;
  position: relative;
}
.menu .list-text a:hover {
  font-weight: bold;
}
.menu .border_corner {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
}
.menu .border-corner-top-left {
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
  top: 0;
  left: 0;
}
.menu .border-corner-top-right {
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
  top: 0;
  right: 0;
}
.menu .border-corner-bottom-left {
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
  bottom: 0;
  left: 0;
}
.menu .border-corner-bottom-right {
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
  bottom: 0;
  right: 0;
}
.menu .list-text:hover .border_corner {
  opacity: 50%;
}

.list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar-btn {
  display: none;
}

@media (max-width: 992px) {
  .list {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-end;
  }
  .navbar-btn {
    display: flex;
    flex-direction: flex;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 3;
  }
  .navbar-btn span {
    font-size: 40px;
  }
  .navbar-btn .close {
    display: none;
  }
  .list {
    display: none;
    flex-direction: column;
    top: 150px;
    gap: 24px;
    width: 100%;
    padding: 40px 0;
    z-index: 2;
  }
  .list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    filter: blur(5px);
    /* 半透明的白色背景 */
  }
  .active {
    display: flex;
  }
  .close {
    display: none;
  }
  .content {
    display: block;
    justify-content: space-between;
  }
}
.footer {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 312px;
}

.contact {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #3B3B3B;
  gap: 24px;
}
.contact img {
  width: 101.33px;
}
.contact a {
  text-decoration: none;
  color: #919191;
  font-size: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-item span {
  background-color: #F1F1F1;
  width: 306px;
  border: 1px solid #C1C1C1;
  border-radius: 8px;
}
.contact-item a {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  font-size: 20px;
  line-height: 30px;
  color: #3B3B3B;
  text-decoration: none;
}
.contact-item a:hover {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 8px;
}

@media (max-width: 1500px) {
  .footer {
    padding: 80px 156px;
  }
}
@media (max-width: 992px) {
  .footer {
    flex-direction: column;
    padding: 40px 12px;
    gap: 40px;
  }
  .contact {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-item a {
    padding: 4px 24px;
  }
}
.hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.introduce-self {
  display: flex;
  flex-direction: column;
}
.introduce-self .intro-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #3B3B3B;
  margin-bottom: 24px;
}
.introduce-self .intro-text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
.introduce-self .job-title {
  font-size: 16px;
  line-height: 24px;
  color: #C1C1C1;
  margin-bottom: 60px;
}
.introduce-self .icon {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
}
.introduce-self .icon i {
  font-size: 56px;
}
.introduce-self .icon a {
  color: #555555;
  padding: 8px;
}

/* chatgpt教的，要再複習 */
/* 

先設定span位置，因需正常隨寬度漢文黨一起變動，
故使用position: relative。

設定img在span中的位置時，因img需固定位於文字下方，
故使用position: absolute讓其位於span左下角。

最後設定z-index，需讓img保持較高的層疊順序。


position: relative; 使元素相对于其正常位置进行定位，
但不影响文档流中其他元素的布局。
设置了 top, right, bottom, 或 left 属性时
，元素相对于其初始位置移动。

position: absolute; 使元素相对于其最近的非 static 
父元素进行定位，或者如果没有这样的父元素，
则相对于初始包含块（通常是视口）进行定位。
这种定位会脱离文档流，其他元素会忽略它的存在。
通常与 top, right, bottom, 或 left 属性一起使用。

z-index 属性的值可以是任何整数，负数也是允许的。
较大的值表示较高的层叠顺序。

*/
.underline {
  position: relative;
}

.underline img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  display: block;
  z-index: -1;
}

.works {
  padding: 120px 0 0 0;
  gap: 80px;
  display: flex;
  flex-direction: column;
}

.index-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.index-title h2 {
  font-size: 32px;
  font-weight: 600;
  color: #3B3B3B;
  line-height: 38.4px;
}

.star {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce {
  background-color: rgba(255, 255, 255, 0.062745098);
  border-radius: 24px;
  margin-left: 55px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 80px 40px 56px 40px;
}
.introduce .introduce-p {
  margin: 0 0 40px 0;
  border-bottom: 1px solid rgba(241, 241, 241, 0.3137254902);
}
.introduce .introduce-p h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  margin-bottom: 8px;
}
.introduce .introduce-p p {
  font-size: 16px;
  line-height: 24px;
}
.introduce .introduce-p ul {
  display: flex;
  margin: 32px 0px;
}
.introduce .introduce-p li {
  margin-right: 20px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 16px;
  width: 88px;
  height: 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduce-link {
  display: flex;
  justify-content: center;
}
.introduce-link a {
  background-color: #000000;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
}

.savemoney {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.savemoney::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* 控制半透明层的宽度为元素的一半 */
  height: 100%;
  background-color: rgba(10, 16, 19, 0.3137254902); /* 半透明的白色背景 */
}
.savemoney .introduce {
  z-index: 3;
  position: absolute;
  left: 10%;
}

.clinic {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
}
.clinic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 控制半透明层的宽度为元素的一半 */
  height: 100%;
  background-color: rgba(13, 12, 7, 0.3137254902); /* 半透明的白色背景 */
}

.services {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px;
  gap: 80px;
}
.services .services-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}
.services .services-item {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 306px;
  height: 306px;
  border-radius: 16px;
}
.services .services-item h3 {
  font-size: 28px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 42px;
}
.services .services-intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.services .services-intro h3 {
  font-size: 28px;
  font-weight: 600;
  color: #000000;
}
.services .services-intro a {
  background-color: #000000;
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 30px;
}

.index-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 120px 0px;
}
.index-articles .index-articles-frame {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.index-articles .index-articles-frame .index-articles-item {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 416px;
}
.index-articles .index-articles-frame .index-articles-item img {
  border-radius: 8px;
}
.index-articles .index-articles-text {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  gap: 16px;
}
.index-articles .index-articles-text a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #3B3B3B;
}
.index-articles .articles-mark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.index-articles .articles-mark a {
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #F1F1F1;
  color: #3B3B3B;
  text-decoration: none;
}
.index-articles .articles-mark p {
  font-size: 16px;
  color: #5B5B5B;
}

.pages {
  font-size: 12px;
  display: flex;
  gap: 16px;
}
.pages a {
  text-decoration: none;
  color: #000000;
}

.fa-arrow-right {
  margin-left: 8px;
}

@media (max-width: 1400px) {
  .services-list {
    max-width: 900px;
  }
}
@media (max-width: 1200px) {
  .footer {
    padding: 80px 100px;
  }
  .savemoney .introduce {
    left: 0%;
  }
}
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
  }
  .introduce-self {
    gap: 24px;
    padding: 40px 0px;
  }
  .introduce-self p {
    text-align: center;
  }
  .introduce-self .intro-text {
    flex-direction: column;
    gap: 8px;
  }
  .introduce-self .icon {
    justify-content: center;
  }
  .introduce-self i {
    font-size: 30px;
  }
  .works-m {
    display: flex;
    flex-direction: column;
    padding: 40px 0 80px 0;
    gap: 40px;
    margin: 0 auto;
  }
  .works-m .work-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .m-introduce {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 20px;
    text-align: center;
  }
  .m-introduce-p {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .m-introduce-p h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .m-introduce-p p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #5B5B5B;
  }
  .m-introduce-p ul {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .m-introduce-p li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #3B3B3B;
    background-color: #F1F1F1;
    padding: 4px 12px;
    border-radius: 16px;
  }
  .m-introduce-link a {
    background-color: #000000;
    padding: 8px 16px;
    border-radius: 5px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
  }
  .services {
    padding: 80px 0px;
    gap: 40px;
  }
  .services-intro {
    gap: 24px;
    text-align: center;
  }
  .services-intro h3 {
    font-size: 20px;
  }
  .services-intro a {
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 8px;
    text-decoration: none;
    color: #3B3B3B;
  }
  .index-articles {
    padding: 80px 0px;
    gap: 40px;
    margin: 0 auto;
  }
  .index-articles .index-articles-item {
    width: 51%;
    flex-wrap: wrap;
  }
}
.title {
  text-align: center;
  padding: 80px 0;
  background-color: #FAFAFA;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.title .intro-t {
  display: flex;
  height: 192px;
}
.title .intro-l {
  font-size: 24px;
  line-height: 28.8px;
  color: #1E1E1E;
  align-self: center;
}
.title .img-tar {
  align-self: flex-end;
}
.title .btl {
  position: relative;
  z-index: 2;
}
.title .btl img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.title-row {
  display: flex;
  gap: 40px;
}
.title-row .intro-s {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #3B3B3B;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-row .line {
  background-color: #C1C1C1;
  height: 2px;
  width: 24px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1296px;
  gap: 24px;
  margin: 0 auto;
  padding: 120px 0px;
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
  gap: 24px;
  margin-bottom: 72px;
}
.item img {
  border-radius: 8px;
  border: 1px solid #F1F1F1;
}
.item .c-intro {
  padding: 0px 16px;
  gap: 24px;
}
.item h2 {
  font-size: 28px;
  font-weight: 700;
  color: #3B3B3B;
  line-height: 33.6px;
  margin-bottom: 8px;
}
.item p {
  font-size: 16px;
  font-weight: 400;
  color: #919191;
}
.item ul {
  display: flex;
  margin-top: 24px;
  gap: 16px;
}
.item ul li {
  background-color: #F1F1F1;
  border-radius: 16px;
  padding: 4px 12px;
}
.item ul li a {
  text-decoration: none;
  color: #3B3B3B;
}

.modal-btn {
  border: 0;
  background-color: #FFFFFF;
}

.custom-modal-width {
  max-width: 1076px;
}

.custom-modal-radius .modal-content {
  border-radius: 16px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
}
.modal-header .modal-close {
  padding: 32px 40px 0px 40px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.modal-header h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}
.modal-header p {
  font-size: 16px;
  line-height: 24px;
}
.modal-header .modal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  gap: 40px;
}
.modal-header .modal-text .modal-title h2 {
  margin-bottom: 8px;
}
.modal-header .modal-text .modal-word {
  display: flex;
  padding: 0 56px;
}
.modal-header .modal-text .modal-intro {
  padding-right: 72px;
  width: 62.4%;
}
.modal-header .modal-text .modal-intro p {
  color: #1E1E1E;
}
.modal-header .modal-text .modal-concept {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0 0 24px;
}
.modal-header .modal-text .modal-concept p {
  color: #5B5B5B;
}

.modal-body {
  padding: 80px 0;
  background-color: #FAFAFA;
}
.modal-body .modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 56px;
}
.modal-body .modal-box .modal-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-body .modal-box .modal-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #1E1E1E;
}
.modal-body .modal-box .modal-item p {
  font-size: 16px;
  line-height: 24px;
  color: #5B5B5B;
}

.page {
  gap: 16px;
}
.page a {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  padding: 2px 13px;
  text-decoration: none;
  color: #3B3B3B;
  align-items: center;
}
.page a:first-child {
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .title {
    padding: 40px 24px 80px;
    gap: 40px;
  }
  .title h2 {
    font-size: 20px;
  }
  .title .title-row {
    gap: 20px;
    flex-direction: column;
  }
  .title .intro-t {
    flex-direction: column;
  }
  .title h2 {
    padding: 1.7px 0px;
  }
  .title h2:last-child {
    margin-top: 8px;
  }
  .title .img-tar {
    display: none;
  }
  .content {
    padding: 80px 0px;
    gap: 48px;
  }
  .item {
    width: 90%;
    height: auto;
    gap: 16px;
    margin-bottom: 0;
  }
  .item ul {
    gap: 8px;
  }
  .item ul li {
    padding: 4px 12px;
  }
  .item .c-intro {
    padding: 0px 16px;
    gap: 24px;
  }
  .item .c-intro h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  .modal-header .modal-text {
    padding: 24px 0;
  }
  .modal-header .modal-text .modal-word {
    flex-direction: column;
    padding: 0 32px;
    gap: 24px;
  }
  .modal-header .modal-text .modal-word .modal-intro {
    width: 100%;
    padding: 0;
  }
  .modal-header .modal-text .modal-word .modal-concept {
    padding: 24px 0 0 0;
    gap: 24px;
    text-align: center;
    border-top: 1px solid #C1C1C1;
  }
  .modal-body {
    padding: 40px 0;
  }
  .modal-body .modal-box .modal-item {
    gap: 0;
  }
  .modal-body .modal-box .modal-item h3 {
    margin: 16px 0 8px 0;
  }
  .modal-body .modal-box .modal-item p {
    text-align: left;
  }
}
.services-blank {
  padding: 120px 0;
  max-width: 1920px;
  margin: 0 auto;
  gap: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.services-blank .title-deco {
  height: 100%;
}
.services-blank p {
  color: #919191;
}

.title-service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.title-service h1 {
  font-size: 32px;
  font-weight: 600;
  color: #3B3B3B;
  line-height: 38.4px;
}
.title-service h2 {
  font-size: 32px;
  font-weight: 600;
  color: #3B3B3B;
  line-height: 38.4px;
}

.services-list {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.services-list .services-item {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 306px;
  width: 306px;
  gap: 24px;
  border-radius: 16px;
}
.services-list .services-item h3 {
  font-size: 28px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 42px;
  flex-wrap: nowrap;
}

.process {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/process-bg.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 120px 0;
}
.process h2 {
  color: #FFFFFF;
}

.process-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.process-list .process-card {
  display: flex;
  background-color: #3B3B3B;
  border: 1px solid #919191;
  padding: 24px 32px;
  gap: 32px;
  width: 100%;
}
.process-list .process-card .card-number {
  font-size: 72px;
  line-height: 86.4px;
  flex-wrap: nowrap;
  color: #919191;
  font-family: "Tourney", sans-serif;
}
.process-list .process-card .card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.process-list .process-card .card-text h4 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}
.process-list .process-card .card-text p {
  font-size: 20px;
  line-height: 30px;
  color: #E9E9E9;
}
.process-list .material-symbols-outlined {
  font-size: 32px;
  color: #5B5B5B;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 80px;
  margin: 0 auto;
}
.price .price-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.price-item {
  background-color: #FAFAFA;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.price-item .price-text {
  display: flex;
  align-items: center;
  gap: 16px;
}
.price-item .price-text h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: #5B5B5B;
}
.price-item .price-text .price-line {
  width: 41px;
  height: 1px;
  background-color: #C1C1C1;
}
.price-item .price-text p {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #1E1E1E;
}
.price-item .price-text p:after {
  content: "起";
  font-size: 16px;
  line-height: 24px;
  color: #5B5B5B;
  margin-left: 8px;
}

.example {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  gap: 80px;
  max-width: 1296px;
  margin: 0 auto;
}

.example-card-group {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.example-card-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
}
.example-item .card-content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
  gap: 8px;
}
.example-item img {
  border-radius: 8px;
}
.example-item h2 {
  font-size: 28px;
  font-weight: 700;
  color: #3B3B3B;
  margin-bottom: 8px;
  line-height: 1.2;
}
.example-item p {
  font-size: 16px;
  color: #919191;
  margin-bottom: 24px;
}
.example-item li {
  display: inline;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 4px 12px;
}
.example-item a {
  text-decoration: none;
  color: #3B3B3B;
}

.quetion {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  gap: 80px;
  margin: 0 auto;
}

.quetion-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 1076px;
}
.quetion-list .quetion-item {
  padding: 24px;
  gap: 16px;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
}
.quetion-list .quetion-item h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #3B3B3B;
}
.quetion-list .quetion-item p {
  font-size: 20px;
  line-height: 30px;
  color: #5B5B5B;
}

@media (max-width: 992px) {
  .title-list {
    max-width: 900px;
  }
}
@media (max-width: 1200px) {
  .title {
    align-items: center;
  }
  .title h1 {
    font-size: 24px;
  }
  .title h2 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .services {
    padding: 40px 0 80px 0;
    margin: 0 auto;
    gap: 40px;
  }
  .process {
    padding: 80px 0;
    gap: 40px;
  }
  .process .process-list {
    gap: 16px;
  }
  .process .process-list .process-card {
    padding: 24px 24px 48px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
  }
  .process .process-list .process-card .card-text p {
    text-align: start;
  }
  .price {
    padding: 80px 0;
    gap: 40px;
  }
  .price .price-list {
    gap: 24px;
  }
  .price .price-list .price-item {
    gap: 8px;
    max-width: 321px;
  }
  .price .price-list .price-item img {
    height: 30px;
  }
  .price .price-list .price-text {
    gap: 8px;
  }
  .price .price-list .price-text h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .price .price-list .price-text .price-line {
    width: 28px;
    margin: 0;
  }
  .price .price-list .price-text p {
    font-size: 20px;
    line-height: 30px;
  }
  .example {
    padding: 80px 0;
    gap: 40px;
  }
  .example .example-card-group {
    gap: 48px;
  }
  .example .example-card-group .example-card-row {
    gap: 48px;
  }
  .example .example-item {
    width: 100%;
  }
  .example .example-item .card-content h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .example .example-item .card-content p a {
    font-size: 16px;
    line-height: 24px;
  }
  .quetion {
    padding: 80px 0;
    gap: 40px;
  }
  .quetion .quetion-list {
    gap: 24px;
    justify-content: center;
  }
  .quetion .quetion-list .quetion-item {
    max-width: 335px;
    width: 100%;
  }
  .quetion .quetion-list .quetion-item h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .quetion .quetion-list .quetion-item p {
    font-size: 16px;
    line-height: 24px;
  }
}
.blog-container {
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 120px 0 80px 0;
}
.blog-title .title-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.blog-title .title-deco {
  height: 100%;
}
.blog-title h1 {
  font-size: 32px;
  font-weight: 600;
  color: #3B3B3B;
  line-height: 38.4px;
}
.blog-title p {
  color: #919191;
}

.content-articles {
  margin-right: 0;
}

.articles-frame {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.articles-item {
  display: flex;
  gap: 16px;
}
.articles-item .articles-index {
  display: flex;
  flex-direction: column;
  width: 644px;
  gap: 16px;
}
.articles-item img {
  width: 306px;
  height: 220px;
  border-radius: 8px;
  border: 1px solid #F1F1F1;
}
.articles-item a {
  text-decoration: none;
  color: #3B3B3B;
}
.articles-item h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.articles-item p {
  font-size: 16px;
  line-height: 24px;
  margin-right: 24px;
}

.articles-mark {
  display: flex;
  gap: 16px;
}
.articles-mark a {
  background-color: #F1F1F1;
  padding: 4px 12px;
  border-radius: 16px;
}

.blog-list {
  background-color: #FAFAFA;
  border-radius: 8px;
}
.blog-list ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px;
}
.blog-list a {
  font-size: 20px;
  line-height: 30px;
  color: #5b5b5b;
  text-decoration: none;
  padding-bottom: 4px;
}
.blog-list a:hover {
  border-bottom: 1px solid #1E1E1E;
  font-weight: bold;
}
.blog-list a:before {
  Width: 64px;
  height: 1px;
  position: absolute;
  background-color: black;
}

@media (max-width: 1200px) {
  .blog-title {
    align-items: center;
    padding: 40px 0;
  }
  .blog-title h1 {
    font-size: 24px;
  }
  .content-articles {
    display: flex;
    flex-direction: column-reverse;
  }
  .articles-frame {
    padding-top: 40px;
  }
  .articles-frame .articles-item {
    justify-content: center;
  }
  .blog-list ul {
    padding: 20px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .blog-list ul::-webkit-scrollbar {
    display: none;
    background-color: #FAFAFA;
  }
  .blog-list a {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .articles-frame {
    gap: 40px;
  }
  .articles-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 992px;
  }
  .articles-index {
    padding: 0 8px;
    max-width: 306px;
  }
  .articles-index p {
    margin: 0;
  }
  .articles-mark {
    justify-content: space-between;
  }
  .blog-list ul {
    justify-content: start;
  }
}
.articles-page {
  padding: 120px 0;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.articles-page {
  display: flex;
  gap: 64px;
}

.page-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-title .date {
  color: #919191;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}
.page-title .title-text {
  color: #3B3B3B;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 64px;
}
.page-title .title-text h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}
.page-title .title-text h2 {
  font-size: 24px;
  line-height: 28.8px;
}

.page-content {
  gap: 40px;
  color: #3B3B3B;
}
.page-content p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 30px;
}
.page-content p:last-child {
  margin: 0;
}
.page-content h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.page-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}
.page-img .img-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
  gap: 8px;
}
.page-img .img-item p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #5b5b5b;
}

.page-list {
  min-width: 308px;
  background-color: #FAFAFA;
  border-radius: 8px;
}
.page-list ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px;
}
.page-list a {
  font-size: 20px;
  line-height: 30px;
  color: #5b5b5b;
  text-decoration: none;
  padding-bottom: 4px;
}
.page-list a:hover {
  border-bottom: 1px solid #1E1E1E;
  font-weight: bold;
}
.page-list a:before {
  width: 64px;
  height: 1px;
  position: absolute;
  background-color: black;
}

.other-articles {
  max-width: 1296px;
  margin-bottom: 120px;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
  border-top: 1px solid #C1C1C1;
}
.other-articles h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}
.other-articles .others-list {
  display: flex;
  max-width: 100%;
}
.other-articles .others-list .others-item {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 416px;
}
.other-articles .others-list .others-item img {
  border-radius: 8px;
}

.others-index {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  gap: 16px;
}
.others-index a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #3B3B3B;
}

.others-mark {
  display: flex;
  justify-content: space-between;
}
.others-mark a {
  font-size: 16px;
  font-weight: 400;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #F1F1F1;
  color: #3B3B3B;
  text-decoration: none;
}
.others-mark p {
  color: #5B5B5B;
}

@media (max-width: 1200px) {
  .articles-page {
    display: flex;
    flex-direction: column-reverse;
  }
  .list {
    margin-bottom: 40px;
  }
  .list ul {
    padding: 20px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .list ul::-webkit-scrollbar {
    display: none;
    background-color: #FAFAFA;
  }
  .list a {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .articles-page {
    gap: 24px;
    padding: 0;
  }
  .page-title {
    margin-bottom: 20px;
    gap: 16px;
  }
  .page-title .date {
    position: relative;
    width: 100%;
  }
  .page-title .date span {
    display: flex;
    justify-content: space-between;
  }
  .page-title .title-text {
    gap: 16px;
    padding-top: 0px;
  }
  .page-title .title-text h1 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .page-title .title-text h2 {
    font-size: 16px;
    line-height: 19.2px;
  }
  .page-content {
    color: #3B3B3B;
  }
  .page-content p {
    margin-bottom: 32px;
  }
  .page-content h3 {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
  }
  .page-content .page-img {
    width: 100%;
    justify-content: center;
  }
  .page-content .page-img .img-item {
    width: 100%;
  }
  .other-articles {
    padding: 40px 0 80px 0;
    width: 100%;
    justify-content: center;
    border-top: 0;
  }
  .other-articles h3 {
    text-align: center;
  }
  .other-articles .others-list {
    gap: 40px;
    width: 100%;
    justify-content: center;
  }
  .other-articles .others-index {
    flex-direction: column-reverse;
  }
  .other-articles .others-index .others-mark {
    flex-direction: row-reverse;
  }
  .other-articles .others-index p {
    display: flex;
    align-items: center;
  }
  .list {
    margin-bottom: 20px;
  }
  .list ul {
    justify-content: start;
  }
  .others-list {
    margin-left: 0;
  }
}/*# sourceMappingURL=all.css.map */