.contact-container{
    padding: 80px 0;

}

.contact-form{
    max-width: 600px;
    margin: 0 auto;
    background-color: $color-gray-300;
    padding: 48px 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    border: 2px solid $color-gray-500;
    .form-label{
        margin: 0 0 12px 8px;
    }
    h1{
        font-size: 36px;
        text-align: center;
        color: $color-gray-700;
    }

    p{
        text-align: center;
        margin-bottom: 16px;
        color: $color-gray-600;
    }
}

.btn-submit{
    background-color: $color-gray-700;
    width: 100px;
    color: #fff;
}

@media (max-width: 768px) {
    .contact-form{
        max-width: 80%;
    }
}