
.articles-page{
    padding: 120px 0;
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.articles-page{
    display: flex;
    gap: 64px;
}

.page-title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .date{
        color: $color-gray-600;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        left: 0;
    }
    .title-text{
        color: $color-gray-700;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 64px;
        h1{
            font-size: 32px;
            font-weight: 700;
            line-height: 38.4px;
        }
        h2{
            font-size: 24px;
            line-height: 28.8px;
        }
    }
}

.page-content{
    gap: 40px;
    color: $color-gray-700;
    p{
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 30px;
        &:last-child{
            margin: 0;
        }
    }
    h3{
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }
}

.page-img{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
    .img-item{
        display: flex;
        flex-direction: column;
        width: calc(50% - 12px);
        gap: 8px;
        p{
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            color: $color-gray-650;
        }
    }
}

.page-list{
    min-width: 308px;
    background-color: $color-gray-400;
    border-radius:8px ;
    ul{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 80px;
    }

    a{  
        font-size: 20px;
        line-height: 30px;
        color: $color-gray-650;
        text-decoration: none;
        padding-bottom: 4px;
        &:hover{
            border-bottom:1px solid $color-gray-800;
            font-weight: bold;        
        }
        &:before{
            width:64px;
            height: 1px;
            position: absolute;
            background-color: $color-black-900;
        }
    }
}

.other-articles{
    max-width: 1296px;
    margin-bottom: 120px;
    padding: 80px 0 0 0; 
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    border-top: 1px solid $color-gray-500;
    h3{
        font-size: 28px;
        font-weight: 700;
        line-height: 33.6px;
    }
    .others-list{
        display: flex;
        max-width: 100%;
        gap: 24px;
        .others-item{
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            max-width: 416px;
            img{
                border-radius: 8px;
            }
        }
    }
}

.others-index{
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    gap: 16px;
    a{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
        color: $color-gray-700;
    }
}

.others-mark{
    display: flex;
    justify-content: space-between;
    a{
        font-size:16px;
        font-weight: 400;
        padding: 4px 12px;
        border-radius: 16px;
        background-color: $color-gray-300;
        color: $color-gray-700;
        text-decoration: none;
    }    
    p{
        color: $color-gray-650;
    }
}

@media (max-width: 1200px) {
    .articles-page {
        display: flex;
        flex-direction: column-reverse;
    }


    .list{
        margin-bottom: 40px;
        ul{
        padding: 20px 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        overflow-x: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
            background-color: $color-gray-400;
        }
        }
        a{
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media (max-width: 768px) {
    
    
    .articles-page{
        gap: 24px;
        padding: 0;
    }

    .page-title{
        margin-bottom: 20px;
        gap: 16px;
        .date{
            position: relative;
            width: 100%;
            span{
                display: flex;
                justify-content: space-between;
            }
            }
        .title-text{
            gap: 16px;
            padding-top: 0px;
            h1{
                font-size: 24px;
                line-height: 28.8px;
            }
            h2{
                font-size: 16px;
                line-height: 19.2px;
            }
        }
        }
        .page-content{
            color: $color-gray-700;
            p{
                margin-bottom: 32px;
            }
            h3{
                margin-bottom: 16px;
                font-size: 20px;
                line-height: 24px;
            }
            .page-img{
                width: 100%;
                justify-content: center;
            .img-item{
                width: 100%;
            }
        }
    }

    .other-articles{
        padding: 40px 0 80px 0; 
        width: 100%;
        justify-content: center;
        border-top: 0;
        h3{
            text-align: center;
        }
        .others-list{
            gap: 40px;
            width: 100%;
            justify-content: center;
        }
        .others-index{
            flex-direction: column-reverse;
            .others-mark{
                flex-direction: row-reverse;
            }
            p{
                display: flex;
                align-items: center;
            }
        }
    }

    .list{
        margin-bottom: 20px;
        ul{
            justify-content: start;
        }
    }

    .others-list {
        margin-left: 0;
    }
}